<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind CSS -->
    <link href="/css/output.css" rel="stylesheet">
    <title>질문 등록</title>
</head>

<body class="bg-gray-100">
    <div layout:fragment="content" class="container mx-auto px-4 py-6">
        <h5 class="my-3 border-b pb-2 text-xl font-semibold">질문등록</h5>
        <form th:object="${questionForm}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div th:replace="~{form_errors :: formErrorsFragment}"></div>
            <div class="mb-4">
                <label for="subject" class="block text-gray-700 text-sm font-bold mb-2">제목</label>
                <input type="text" th:field="*{subject}" class="form-input w-full px-3 py-2 border rounded-lg text-gray-700 focus:outline-none focus:border-blue-500">
            </div>
            <div class="mb-6">
                <label for="content" class="block text-gray-700 text-sm font-bold mb-2">내용</label>
                <textarea th:field="*{content}" class="form-textarea w-full px-3 py-2 border rounded-lg text-gray-700 focus:outline-none focus:border-blue-500" rows="10" id="content"></textarea>
            </div>
            <input type="submit" value="저장하기" class="bg-blue-600 text-white px-4 py-2 rounded shadow hover:bg-blue-700 focus:outline-none focus:shadow-outline my-2">
        </form>
    </div>

    <!-- 마크다운 에디터 초기화 스크립트 -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var simplemde = new SimpleMDE({ element: document.getElementById("content") });
        });
    </script>
</body>

</html>
